body {
    font-family: Arial, sans-serif;
    text-align: center;
}


header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* position: fixed; - Hides content under header - not desired yet.. */
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    /* display: flex; - Moves the Title, to the left */
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 5px;
}

button:hover {
    background-color: #555555;
    /* Dark grey */
}